body{
display: flex;
margin: 0;
height: 100vh;
}

#main{
width: 100%;
}

#sidebar{
display: flex;
flex-direction: column;
}

.sidebar-icon p {
    padding: 2em;

}

.sidebar-icon ion-icon {
    font-size: 1.5em;
    align-items: baseline;

}